@font-face {
    font-family: 'Mona Sans';
    src:
        url('../uploads/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../uploads/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Brittany Signature';
    src: url('../uploads/brittanySignature.ttf') format('truetype');
    font-weight: 400;
}

.monasans {
    font-family: 'Mona Sans', sans-serif;
}

.monasans-bold {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 700;
    font-stretch: 125%;
}

.monasans-wide {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 400;
    font-stretch: 125%;
}

.brittanysignature {
    font-family: 'Brittany Signature';
    font-weight: 700;
}

body {
    color: white;
    font-family: 'Mona Sans';
}

p {
    font-size: 1.1rem;
    color: white;
}

/* Blog and philosophy */
.blog-section {
    background-color: black;
    min-height: 80vh;
}

.blogandphilosophy {
    background-color: black;
    min-height: 80vh;
}

.bp-title {
    background: linear-gradient(to left, #f5ffe1, #aef727);    
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
}

.box {
    background-color: #141414;
    color: white;
}

strong {
    font-size: 1.1rem;
    color: white;
}

em {
    font-size: 1.1rem;
    color: white;
}

.preview {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em; /* Adjust based on line height */
    font-size: 0.5rem;
}

.input::placeholder {
    color: rgb(168, 168, 168);
    /* Change this to your desired color */
    opacity: 1;
    /* Optional: Makes sure the color is fully opaque */
}

.timestamp {
    color:#a5a5a5
}
