@font-face {
    font-family: 'Mona Sans';
    src:
        url('../uploads/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../uploads/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Brittany Signature';
    src: url('../uploads/brittanySignature.ttf') format('truetype');
    font-weight: 400;
}

.monasans {
    font-family: 'Mona Sans', sans-serif;
}

.monasans-bold {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 700;
    font-stretch: 125%;
}

.monasans-wide {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 400;
    font-stretch: 125%;
}

.brittanysignature {
    font-family: 'Brittany Signature';
    font-weight: 700;
}

body {
    color: white;
    font-family: 'Mona Sans';
}

p {
    font-size: 1.1rem;
    color: white;
}

/* technical experience */
.technical-experience {
    background-color: black;
}

.te-card {
    background-color: #141414;
}

.te-title {
    font-size: 1.4rem;
}

.te-company {
    color:white;
}

.te-desc {
    color: white;
}

/* END technical experience */
/* coursework */
.coursework {
    background-color: black;
}

.coursework-card {
    background-color: #141414;
}

.coursework -title {
    font-size: 1.4rem;
}

/* END coursework */
/* leadership */
.leadership {
    background-color: black;
}

.leadership-card {
    background-color: #141414;
}
/* END leadership /*