@font-face {
    font-family: 'Mona Sans';
    src: 
        url('../uploads/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../uploads/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Brittany Signature';
    src: url('../uploads/brittanySignature.ttf') format('truetype');
    font-weight: 400;
}

.monasans {
    font-family: 'Mona Sans', sans-serif;
}

.monasans-bold {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 700;
    font-stretch: 125%;
}

.brittanysignature {
    font-family: 'Brittany Signature';
    font-weight: 700;
}

body {
    color: white;
    font-family: 'Mona Sans';
}

p {
    font-size: 1.1rem;
    color: white;
}

/* main */

.main {
    background:
        linear-gradient(to bottom, #00000066, #000000),
        /* Top-to-bottom gradient */
        url('../uploads/background.jpg');
    /* Replace with your image URL */
    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    height: calc(100vh - 50px);
    color: white;
}

.main-title {
    font-size: 3.4rem;
}

.main-title-name {
    background: linear-gradient(to right, #727af5, #10e9c5);    
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
}

.main-subtitle {
    color: #a5a5a5;
    font-size: 1.6rem;
}

.bx {
    color: white;
}


/* END main */
/* intro */

.intro {
    background-color: black;
}

.intro-title {
    background: linear-gradient(to right, #f5ffe1, #aef727);
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
    font-size: 2.2rem;
}

.intro-text {
    color: #a5a5a5;
}

/* END intro */
/* toolkit */

.toolkit-title {
    background: linear-gradient(to right, #ffffff, #a000a0);
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
    font-size: 2.2rem;
}

.toolkit-subtitle {
    font-size: 1.8rem;
}

.toolkit {
    background-color: black;
}

.toolkit-buttons {
    background-color: transparent;
    border: 0 0 0 0;
    border-color: transparent;
}

.toolkit-icons {
    font-size: 4rem;
    color: white;
}

.toolkit-pytorch {
    width: 60px;
    /* Set desired width */
    height: 60px;
    /* Set desired height */
}

.toolkit-matplotlib {
    height: 54px;
    /* Set desired height */
}

.toolkit-numpy {
    height: 64px;
    /* Set desired height */
}

/* END toolkit */
/* awards */
.awards {
    background-color: black;
}

.awards-title {
    background: linear-gradient(to right, #f3633f, #f3e5db);
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
    font-size: 2.2rem;
}

.award-card {
    background-color: #111111;
}

.award-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.award-issue {
    color: #a5a5a5;
}

/* END toolkit */
/* mbti */
.mbti {
    background-color: black;
}

.mbti-title {
    background: linear-gradient(to right, #b1acff, #0e0c88);
    /* Gradient colors */
    -webkit-background-clip: text;
    /* Clip the background to text */
    -webkit-text-fill-color: transparent;
    /* Make the text color transparent */
    font-size: 2.2rem;
}

.mbti-subtitle {
    font-size: 1.8rem;
    font-weight: 600;
}

.mbti-card {
    background-color: #111111;
}

/*END mbti */
@media screen and (max-width: 1023px) {
    .main-title {
        font-size: 28px;
    }

    .main-subtitle {
        color: #a5a5a5;
        font-size: 1.2rem;
    }

    .intro-title {
        font-size: 28px;
    }
}


@media screen and (max-width: 768px) {
    .profile {
        width: 200px;
        /* Set the desired fixed width */
        height: 200px;
        /* Set the desired fixed height */
        object-fit: cover;
        /* Ensures the image is properly contained within the set size */
    }
}