<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add License</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <section class="section is-medium">
        <div class="container">
            <h1 class="title">Add License</h1>
            <form action="{{ url_for('admin.add_license') }}" method="POST">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" name="title" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Issuer</label>
                    <div class="control">
                        <input class="input" type="text" name="issuer" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Issue Date</label>
                    <div class="control">
                        <input class="input" type="text" name="issue_date" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Expiration Date</label>
                    <div class="control">
                        <input class="input" type="text" name="expiration_date">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Icon Path</label>
                    <div class="control">
                        <input class="input" type="text" name="icon_path" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">Add License</button>
                    <a href="{{ url_for('admin.edit_licenses') }}" class="button is-light">Cancel</a>
                </div>
            </form>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>
