<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Experience</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <section class="section is-medium admin">
        <div class="container">
            <h1 class="title white">Add Experience</h1>
            <form action="{{ url_for('admin.add_relevant_experience') }}" method="POST">
                <div class="field">
                    <label class="label white">Title</label>
                    <div class="control">
                        <input class="input" type="text" name="title" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label white">Company</label>
                    <div class="control">
                        <input class="input" type="text" name="company" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label white">Start Date</label>
                    <div class="control">
                        <input class="input" type="text" name="start_date" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label white">End Date</label>
                    <div class="control">
                        <input class="input" type="text" name="end_date" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label white">Location</label>
                    <div class="control">
                        <input class="input" type="text" name="location" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label white">Description</label>
                    <div class="control">
                        <textarea class="textarea" name="description" required></textarea>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">Add Experience</button>
                </div>
            </form>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>
