<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Conference</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <section class="section is-medium">
        <div class="container">
            <h1 class="title">Edit Conference</h1>
            <form action="{{ url_for('admin.edit_conference', conference_id=conference[0]) }}" method="POST">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" name="title" value="{{ conference[1] }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Role</label>
                    <div class="control">
                        <input class="input" type="text" name="role" value="{{ conference[2] }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Year</label>
                    <div class="control">
                        <input class="input" type="text" name="year" value="{{ conference[3] }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" name="description" required>{{ conference[4] }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Image Path</label>
                    <div class="control">
                        <input class="input" type="text" name="image_path" value="{{ conference[5] }}" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-link" type="submit">Update Conference</button>
                    <a href="{{ url_for('admin.edit_conferences') }}" class="button is-light">Cancel</a>
                </div>
            </form>
        </div>
    </section>

    {% include 'footer.html' %}
</body>

</html>
