<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin Hwang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/educationandexperience.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.5/dist/css/bulma-timeline.min.css" rel="stylesheet">
</head>

<body>

    {% include 'navbar.html' %}

    <!-- Relevant Experience Section -->
    <section class="section is-medium technical-experience">
        <div class="container">
            <p class="is-size-1 pb-5 monasans-bold has-text-centered te-section-title">Technical Experience</p>
            <p class="is-size-5 pb-5 has-text-centered">Explore my technical work experience! Each role has been a
                valuable opportunity to apply my skills,
                tackle real-world challenges, and contribute meaningfully to innovative projects. Through these
                experiences, I have gained hands-on expertise in cutting-edge technologies, collaborated with diverse
                teams, and developed a deeper understanding of the practical applications of my knowledge.</p>

            {% for experience in relevant_experiences %}
            <div class="card te-card">
                <div class="card-content has-text-left">
                    <div class="content">
                        <p class="te-title monasans-bold">{{ experience[0] }}</p> <!-- Title -->
                        <p class="te-company">{{ experience[1] }}</p> <!-- Company -->
                        <span class="tag is-medium is-dark">{{ experience[2] }} - {{ experience[3] }}</span>
                        <!-- Dates -->
                        <span class="tag is-medium is-dark">{{ experience[4] }}</span> <!-- Location -->
                        <ul class="te-desc">
                            {% for desc in experience[5].split('\n') %}
                            <li>{{ desc }}</li>
                            {% endfor %}
                        </ul> <!-- Description -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Education Section -->
    <section class="section is-medium education">
        <div class="container">
            <p class="is-size-1 pb-5 monasans-bold has-text-centered education-title">Education</p>
            <div class="columns pt-5">
                <div class="column is-2 has-text-centered">
                    <img src="{{ url_for('static', filename='uploads/umich.svg') }}" alt="UMich Icon"
                    class="education-icons education-umich">
                </div>
                <div class="column is-10">
                    <p class="is-size-4 monasans-bold">University of Michigan - Ann Arbor</p>
                    <p class="is-size-5">Bachelor of Science in Computer Science</p>
                    <p class="is-size-5">August 2022 - May 2026 (Expected)</p>
                </div>
            </div>
            <div class="columns pt-5">
                <div class="column is-2 has-text-centered">
                    <img src="{{ url_for('static', filename='uploads/chs.png') }}" alt="Commack Icon"
                    class="education-icons education-chs">
                </div>
                <div class="column is-10">
                    <p class="is-size-4 monasans-bold">Commack High School</p>
                    <p class="is-size-5">International Baccalaureate Diploma</p>
                    <p class="is-size-5">September 2018 - June 2022</p>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Coursework Section -->
    <section class="section is-medium coursework">
        <div class="container">
            <p class="is-size-1 pb-5 monasans-bold has-text-centered coursework-section-title">Coursework</p>
            <p class="is-size-5 pb-5 has-text-centered">Take a look at some of the exciting coursework I
                have completed! Each course represents a unique opportunity to dive deep into a subject, learn from
                expert instructors, and apply knowledge to solve real-world problems. From mastering foundational
                concepts to tackling advanced topics, my coursework has helped shape my understanding of the field and
                develop a robust set of technical and analytical skills. Click a box to learn more about the course!</p>

            <div class="timeline is-centered">
                {% set grouped_courses = {} %}

                <!-- Group courses by their dates -->
                {% for course in coursework %}
                {% set current_date = course[2] + ' - ' + course[3] %}
                {% if current_date not in grouped_courses %}
                {% set _ = grouped_courses.update({current_date: []}) %}
                {% endif %}
                {% set _ = grouped_courses[current_date].append(course) %}
                {% endfor %}

                <!-- Render grouped courses -->
                {% for date, courses in grouped_courses.items() %}
                <div class="timeline-item">
                    <div class="timeline-marker is-warning"></div>
                    <div class="timeline-content">
                        {% for course in courses %}
                        <div class="card coursework-card mt-3">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="coursework-title monasans-bold">{{ course[0] }}</p> <!-- Title -->
                                    <span class="tag is-medium is-dark">{{ date }}</span>
                                    <span class="tag is-medium is-dark">{{ course[1] }}</span> <!-- Institution -->
                                    <p class="pt-3">{{ course[4] }}</p> <!-- Description -->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- conference Section -->
    <section class="section is-medium conference">
        <div class="container has-text-centered">
            <p class="conference-section-title is-size-1 pb-5 monasans-bold">Conference Management Experience</p>
            <p class="is-size-5 pb-5 monasans has-text-centered">
                I find great fulfillment in organizing conferences and stepping into leadership roles during these
                events. These experiences allow me to not only bring people together around shared goals and interests
                but also to hone my skills in project management, teamwork, and effective communication. By coordinating
                complex logistics, managing diverse teams, and ensuring smooth execution, I develop a strong sense of
                responsibility and adaptability. Check out some of the conferences I have organized below!
            </p>
            <div class="columns is-multiline">
                {% for conference in leadership_experiences %}
                <div class="column is-half">
                    <div class="card conference-card">
                        <div class="card-image">
                            <figure class="image is-5by3">
                                <img src="{{ url_for('static', filename='uploads/' + conference[4]) }}"
                                    alt="{{ conference[0] }}" class="conference-card-img" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="is-size-4 monasans-bold">{{ conference[0] }}</p>
                                <p class="is-size-5 monasans-wide">{{ conference[1] }}</p>
                                <p class="is-size-6">{{ conference[2] }}</p>
                                <p class="is-size-6">{{ conference[3] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- licenses and certifications-->
    <section class="section is-medium licenses-and-certifications">
        <div class="container has-text-centered">
            <p class="is-size-1 pb-5 monasans-bold lc-section-title">Licenses and Certifications</p>
            <div class="columns is-multiline">
                {% for license in licenses_and_certifications %}
                    <div class="column is-one-third">
                        <img src="{{ url_for('static', filename=license[4]) }}" alt="{{ license[0] }} Icon" class="lc-icon">
                        <p class="monasans-bold">{{ license[0] }}</p>
                        <p>{{ license[1] }}</p>
                        <p>Issued {{ license[2] }}</p>
                        {% if license[3] %}
                            <p>Expires {{ license[3] }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- other experience-->
    <section class="section is-medium other-experience">
        <div class="container has-text-centered">
            <p class="is-size-1 pb-5 monasans-bold oe-section-title">Other Experience</p>
            <div class="columns is-multiline">
                {% for experience in other_experiences %}
                    <div class="column is-one-third has-text-left">
                        <div class="card oe-card">
                            <div class="card-content">
                                <div class="content">
                                    <p class="oe-title monasans-bold">{{ experience[0] }}</p>
                                    <p class="oe-company">{{ experience[1] }}</p>
                                    <span class="tag is-medium is-dark">{{ experience[2] }}{% if experience[3] %} - {{ experience[3] }}{% endif %}</span>
                                    <span class="tag is-medium is-dark">{{ experience[4] }}</span>
                                    <ul class="oe-desc">
                                        {% for line in experience[5].split('\n') %}
                                            <li>{{ line }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>    


    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='js/educationandexperience.js') }}"></script>
</body>

</html>