<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<footer class="footer">
    <div class="content has-text-centered">
        <p class="monasans-bold">
            <i class='bx bx-copyright' ></i> 2025 Robin Hwang
        </p>
        <p class="monasans">
            Made With <i class='bx bxs-heart'></i> and Black Milk Tea (30% Sugar, Less Ice)
        </p>
        <p>
            <a href="https://www.linkedin.com/in/hwangr/" target="_blank">
                <i class='bx bxl-linkedin-square bx-md px-3'></i>
            </a>
            <a href="https://github.com/rhwang1226/" target="_blank">
                <i class='bx bxl-github bx-md px-3'></i>
            </a>
            <a href="https://orcid.org/0000-0003-0161-7179/" target="_blank">
                <i class='bx bxs-key bx-md px-3'></i>
            </a>
            <a href="mailto:rlhwang@umich.edu" target="_blank">
                <i class='bx bxs-envelope bx-md px-3'></i>
            </a>
        </p>
    </div>
</footer>