<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin Hwang</title>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600;700&display=swap"
        rel="stylesheet">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="temp/style.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: black;">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item logo montserrat-bold has-letter-spacing" href="/index.html" style="color:white">
                    ROBIN HWANG
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true" style="color:white"></span>
                    <span aria-hidden="true" style="color:white"></span>
                    <span aria-hidden="true" style="color:white"></span>
                    <span aria-hidden="true" style="color:white"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" style="color:white">
                        Home
                    </a>

                    <a class="navbar-item" style="color:white">
                        Documentation
                    </a>

                    <a class="navbar-item" style="color:white">
                        The Corner
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Section that accounts for Navbar -->
    <section class="hero is-fullheight-with-navbar" style="background-color: black;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1>
                    Full Viewport Section
                </h1>
                <p>
                    This section includes the navbar height in its calculation.
                </p>
            </div>
        </div>
    </section>

</body>

</html>