<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin Hwang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="temp/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item monasans-bold logo" href="/index.html">
                    ROBIN HWANG
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample"> 
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu" style="background-color: #000b14;">
                <div class="navbar-end">
                    <a class="navbar-item px-5" style="color:white;">
                        Home
                    </a>

                    <a class="navbar-item px-5" style="color:white;">
                        Experience
                    </a>

                    <a class="navbar-item px-5" style="color:white;">
                        Projects
                    </a>

                    <a class="navbar-item px-5" style="color:white;">
                        Blog and Philosophy
                    </a>

                    <a class="navbar-item px-5" style="color:white;">
                        Resume
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- main section -->
    <section class="section main is-fullheight-with-navbar is-flex is-align-items-center">
        <div class="container">
            <h1 class="main-title monasans-bold">Hi, I'm Robin Hwang</h1>
            <h1 class="main-title monasans-bold">Student and Computer Scientist</h1>
            <div class="columns">
                <div class="column is-6">
                    <p class="monasans main-subtitle">An undergraduate at the University of Michigan testing the limits of modern technology, one line at a time.</p>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/hwangr/" target="_blank">
                <i class='bx bxl-linkedin-square bx-lg pr-5'></i>
            </a>
            <a href="https://github.com/rhwang1226/" target="_blank">
                <i class='bx bxl-github bx-lg pr-5'></i>
            </a>
            <a href="https://orcid.org/0000-0003-0161-7179/" target="_blank">
                <i class='bx bxs-key bx-lg'></i>
            </a>
        </div>

    </section>

    <!--intro paragraph-->
    <section class="section is-large intro">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <h1 class="intro-title monasans-bold">Message from Robin</h1>
                    <p>

                    </p>
                </div>
                <div class="column is-6">

                </div>
            </div>
        </div>
    </section>

    <script src="temp/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>