<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<!-- Navbar -->
<div class="sticky-nav">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item monasans-bold logo" href="/">
                    ROBIN HWANG
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu" style="background-color: #000b14;">
                <div class="navbar-end monasans">
                    <a class="navbar-item px-5" style="color:white;" href="/">
                        Home
                    </a>

                    <a class="navbar-item px-5" style="color:white;" href="/educationandexperience">
                        Education and Experience
                    </a>

                    <a class="navbar-item px-5" style="color:white;" href="/projects">
                        Projects
                    </a>

                    <!-- <a class="navbar-item px-5" style="color:white;" href="/blogandphilosophy">
                        Blog and Philosophy
                    </a> -->

                    <a class="navbar-item px-5" style="color:white;" href="{{ url_for('static', filename='uploads/resume.pdf') }}">
                        Resume
                    </a>

                    {% if session.get('authenticated') %}
                    <a class="navbar-item px-5" href="{{ url_for('admin.admin') }}" style="color:white;">Admin Panel</a>
                    <a class="navbar-item px-5" href="{{ url_for('login.logout') }}" style="color:white;">Logout</a>
                    {% else %}
                    <a class="navbar-item px-5" href="{{ url_for('login.login') }}" style="color:white;">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>