<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<!-- Navbar -->
<div class="sticky-nav">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item monasans-bold logo" href="/">
                    ROBIN HWANG
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu" style="background-color: #000b14;">
                <div class="navbar-end">
                    <a class="navbar-item px-5" style="color:white;" href="/">
                        Home
                    </a>

                    <a class="navbar-item px-5" style="color:white;" href="/educationandexperience">
                        Education and Experience
                    </a>

                    <a class="navbar-item px-5" style="color:white;" href="/projects">
                        Projects
                    </a>

                    <a class="navbar-item px-5" style="color:white;" href="/blogandphilosophy">
                        Blog and Philosophy
                    </a>

                    <a class="navbar-item px-5" style="color:white;">
                        Resume
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>