<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin Hwang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.5/dist/css/bulma-timeline.min.css" rel="stylesheet">
</head>

<body>

    {% include 'navbar.html' %}

    <!-- Relevant Experience Section -->
    <section class="section is-medium projects">
        <div class="container">
            <p class="is-size-1 pb-5 monasans-bold has-text-centered projects-title">Project Gallery</p>
            <p class="is-size-5 pb-5 has-text-centered">Welcome to my project gallery! Here, I showcase some
                of the technical projects that I have completed both for work and in my free time. Some of the projects
                link to its repository!
            </p>
            <div class="columns">
                <div class="column is-one-third">
                    <a target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Search485</p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <span class="tag is-medium is-dark">HTML</span>
                                    <span class="tag is-medium is-dark">CSS</span>
                                    <span class="tag is-medium is-dark">Flask</span>
                                    <span class="tag is-medium is-dark">SQLite</span>
                                    <span class="tag is-medium is-dark">Bash</span>
                                    <span class="tag is-medium is-dark">REST APIs</span>
                                    <span class="tag is-medium is-dark">Jinja</span>
                                    <p class="project-desc pt-3">
                                        Search engine that indexes Wikipedia pages with user-adjustable tf-idf and
                                        PageRank weights. Includes a MapReduce pipeline for parallel data processing
                                        of Wikipedia HTML archives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Insta485</p>
                                    <span class="tag is-medium is-dark">JavaScript</span>
                                    <span class="tag is-medium is-dark">React</span>
                                    <span class="tag is-medium is-dark">HTML</span>
                                    <span class="tag is-medium is-dark">CSS</span>
                                    <span class="tag is-medium is-dark">Flask</span>
                                    <span class="tag is-medium is-dark">SQLite</span>
                                    <span class="tag is-medium is-dark">Bash</span>
                                    <span class="tag is-medium is-dark">REST APIs</span>
                                    <span class="tag is-medium is-dark">Jinja</span>
                                    <p class="project-desc pt-3">
                                        A simplified clone of the social media app Instagram with
                                        like, comment, follow/unfollow, post, and infinite scroll
                                        features.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/bingo-card-generator" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Bingo Card Generator
                                    </p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <span class="tag is-medium is-dark">Python-docx</span>
                                    <p class="project-desc pt-3">
                                        Generator that creates a set of random Bingo cards and saves the cards in a
                                        Microsoft Word (.docx) document.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/sase-apple-picking" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Apple Picking Route Assigner</p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <p class="project-desc pt-3">
                                        A program that assigns drivers to riders given (x,y) coordinates of
                                        each person so that each driver can drive as little distance as possible
                                        (a variation of Djikstra's shortest path algorithm). Inspired by the
                                        2024 SASE Apple Picking Trip.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/facetii-parameter-scan" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Start-to-End Particle Accelerator Simulations
                                    </p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <span class="tag is-medium is-dark">matplotlib</span>
                                    <span class="tag is-medium is-dark">NumPy</span>
                                    <span class="tag is-medium is-dark">Bmad</span>
                                    <span class="tag is-medium is-dark">PyTao</span>
                                    <p class="project-desc pt-3">
                                        Simulation software of the FACET-II beamline at SLAC National Accelerator
                                        Laboratory with
                                        features to adjust accelerating cavity phase, amplitude, and electron source
                                        charge.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/Tee-Ninja" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Tee Ninja
                                    </p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <span class="tag is-medium is-dark">Selenium</span>
                                    <span class="tag is-medium is-dark">Tkinter</span>
                                    <p class="project-desc pt-3">
                                        An automatic golf tee time reservation application that reserves
                                        a golf tee time in a given desired time frame at 7:00 PM every evening.
                                        Comes with a GUI for easy client use.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/sase-apple-picking" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">DishDash</p>
                                    <span class="tag is-medium is-dark">Swift</span>
                                    <span class="tag is-medium is-dark">Docker</span>
                                    <p class="project-desc pt-3">
                                        An iOS application that allows students to sell leftover food items
                                        to other students instead of letting the food go to waste. Features
                                        Dockerization including all necessary dependencies.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/lstm_lcls_water_cooling" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">Neural Network for Particle Accelerator</p>
                                    <span class="tag is-medium is-dark">Python</span>
                                    <span class="tag is-medium is-dark">PyTorch</span>
                                    <span class="tag is-medium is-dark">Machine Learning</span>
                                    <p class="project-desc pt-3">
                                        A long short-term neural network modeling a time series of the FAST gun at
                                        Fermilab. Completed
                                        under the supervision of staff at SLAC National Accelerator Laboratory.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="https://github.com/rhwang1226/lstm_lcls_water_cooling" target="__new__">
                        <div class="card project-card">
                            <div class="card-content has-text-left">
                                <div class="content">
                                    <p class="project-title monasans-bold">COVInsight</p>
                                    <span class="tag is-medium is-dark">Java</span>
                                    <span class="tag is-medium is-dark">Swing</span>
                                    <p class="project-desc pt-3">
                                        A database with robust search and filter features for phylogenic analyses of
                                        SARS-CoV-2 (novel Coronavirus) strains. Includes a customized binary search
                                        algorithm and a desktop GUI in Java Swing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
</body>

</html>