<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin Hwang</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='uploads/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    {% include 'navbar.html' %}

    <!-- Project Gallery Section -->
    <section class="section is-medium projects">
        <div class="container">
            <p class="is-size-1 pb-5 monasans-bold has-text-centered projects-title">Project Gallery</p>
            <p class="is-size-5 pb-5 has-text-centered">
                Welcome to my project gallery! Here, I showcase some of the technical projects that I have completed both for work and in my free time. Some of the projects link to their repositories!
            </p>

            <div class="columns is-multiline">
                {% for project in projects %}
                    <div class="column is-one-third">
                        <a {% if project[3] %} href="{{ project[3] }}" target="__new__" {% endif %}>
                            <div class="card project-card">
                                <div class="card-content has-text-left">
                                    <div class="content">
                                        <p class="project-title monasans-bold">{{ project[0] }}</p>
                                        {% for tech in project[2].split(',') %}
                                            <span class="tag is-medium is-dark">{{ tech.strip() }}</span>
                                        {% endfor %}
                                        <p class="project-desc pt-3">
                                            {{ project[1] }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
</body>

</html>
